@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* CSS VARIABLES */
:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --blue: rgb(33, 150, 243);
  --blue-op80: rgba(33, 150, 243, 0.8);
  --red: rgb(244, 67, 54);
  --orange: rgb(255, 193, 7);
  --green: rgb(76, 175, 80);
  --gray: rgb(158, 158, 158);
}

/* CSS RESET */
html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--light);
  color: var(--black);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: clamp(2rem, 1rem + 2vw, 3rem);
}

h2 {
  font-size: clamp(1.75rem, 0.875rem + 1.5vw, 2.75rem);
}

h3 {
  font-size: clamp(1.5rem, 0.75rem + 1vw, 2.5rem);
}

h4 {
  font-size: clamp(1.25rem, 0.625rem + 0.75vw, 2.25rem);
}

p,
a,
label,
span {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--black);
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 1rem;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  cursor: text;
  font-family: inherit;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */
@media (min-width: 48.0625em) {
  .app {
    width: min(100% - 2.5rem, 67.5rem);
    margin-inline: auto;
  }
}
